/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Vazirmatn:wght@100..900&display=swap');
 */

@font-face {
  font-family: "VazirMatn";
  src: url('/Fonts/Vazirmatn.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}



@layer base {
  * {
    font-family: "Vazirmatn", "Outfit";
    outline: none !important;
  }

  .chat-bg {
    @apply bg-[url('/bg.webp')] bg-center bg-contain bg-blend-multiply bg-slate-900/80 backdrop-blur-md
  }

  .chat-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }

  .input-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }




}

@layer components {


  .input {
    @apply w-full bg-slate-800/50 border border-slate-700 rounded-lg py-2 pl-10 pr-4 text-slate-200 placeholder-slate-400 focus:ring-2 focus:ring-cyan-500 focus:border-transparent;
  }

  .auth-input-icon {
    @apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 size-5;
  }

  .auth-input-label {
    @apply block text-sm font-medium text-slate-300 mb-2;
  }

  .auth-badge {
    @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-cyan-500/20 text-cyan-300;
  }

  .auth-btn {
    @apply w-full bg-cyan-500 text-white rounded-lg py-2.5 font-medium hover:bg-cyan-600 focus:ring-2 focus:ring-cyan-500;
  }

  .auth-link {
    @apply px-4 py-2 inline-block bg-cyan-500/10 rounded-lg text-cyan-400 hover:text-cyan-500 text-sm transition-colors;
  }

  .flash {
    @apply bg-cyan-400/10 transition-colors duration-300
  }
}